html {
    scroll-behavior: smooth;
}

nav {
    /*background-color: tomato;*/
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    font-weight: 600;
    height: auto;
    /*background-color: #1e1e1e;*/
    transition: background-color 0.3s, border-bottom-color 0.3s, top 0.4s;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0);
    z-index: 100;
}
nav img {
    /*position: absolute;*/
    /*top: 9px;*/
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
}

.navContent a {
    /*width: 200px;*/
    /*display: inline-block;*/
    /*width: fit-content;*/
    /*height: fit-content;*/
    /*display: block;*/
}

#mainLogo {
    transition: height 0.4s, margin-top 0.4s;
    margin-top: 0 !important;
}

.navContent {
    padding-inline: 32px;
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    transition: margin-top 0.4s;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

nav li {
    padding-top: 30px;
    padding-bottom: 30px;
}
ul a {
    padding: 10px;
    padding-inline: 0;
    margin-inline: 20px;
    transition: color 0.3s;
}
ul a:link, ul a:visited {
    color: darkgray;
    text-decoration: none;
}

ul a:hover, ul a:active {
    color: white;
}

.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav .signup {
    text-decoration: none;
    padding: 10px;
    /*margin-inline: 20px;*/
    background-color: white;
    color: #171717 !important;
    border-radius: 5px;
    margin-right: 0;
    padding-inline: 10px;
    transition: background-color 0.3s;
}
nav .signup:hover{
    background-color: darkgray;
}
nav .navMid {
    width: 500px;
    /*margin: auto;*/
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
}


.navMid ul {
    justify-content: center;
}

.navMid a{
    position: relative;
}
.navMid a::after{
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navMid a:hover::after {
    transform: scaleX(1);
}
body {
    /*background-image: url("../img/indexBack.jpg");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background-color: black;
    margin: 0;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.fade {
    opacity: 0;
    transition: opacity 1.5s;
}

#zoom {
    position: fixed;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.4s;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 50;
    justify-content: space-evenly;
    align-items: center;
}

#zoomContent {
    margin-top: 2vh;
    width: 80vw;
    height: 80vh;
    /*background-color: navajowhite;*/
    background-image: url("../img/poster/00.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.halImgContainer {
    position: relative;
}
.halImg {
    position: absolute;
    top: -200px;
    right: 0;
}

.highlightStatic {
    /*color: linear-gradient(red, blue);*/
    background-image: linear-gradient(to right, #FFD667, #FF8B67);
    color: transparent;
    background-clip: text;
}

.highlight {
    /*color: linear-gradient(red, blue);*/
    /*background-image: linear-gradient(to right, #FFD667, #FF8B67);*/
    /*color: transparent;*/
    /*background-clip: text;*/
    background: linear-gradient(
            to right,
            #ffa667 1%,
            #FFD667 40%,
            #FF8B67 75%,
            #ffa667 99%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#blackBack {
    background-color: rgba(0,0,0,0);
    /*position: absolute;*/
    width: 100%;
    transition: background-color 0.8s;
}
.content {
    width: 1200px;
    margin-inline: auto;
    padding-inline: 32px;
    /*margin-top: 100px;*/
}

.pGrey {
    color: #b7b7b7;
}

.content h1 {
    /*font-weight: 600;*/
}

.blockImg img {
    pointer-events: none;
}

.light {
    color: #ffc551;
}

.titleScreen {
    height: 100vh;
    /*padding-top: 20vw;*/
    /*margin-top: 400px;*/
}

.titleScreen p {
    position: relative;
}

.cinematic {
    /*margin-top: 400px;*/
    /*margin-top: 20vh;*/
    padding-top: 26vh;

}
.cinematicContainer {
    position: relative;
}
.cinematicTitle {
    position: relative;
    font-size: 50pt;
    font-weight: 800;
}
.pName {
    margin-bottom: 10px;
    font-size: 24px;
    color: #cccccc;
}
.explore {
    margin-top: 15px;
}
.button:link, .button:visited {
    color: white;
    text-decoration: none;
}

.button:hover, .button:active {
    background-color: white;
    color: #171717;
    cursor: pointer;
}

.button {
    margin-top: 15px;
    padding: 15px;
    border: white solid 2px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 500;
    transition: background-color 0.3s;
}

.composedUsing {
    display: block;
    margin-top: 0px;
    position: relative;
    /*margin-bottom: 40px;*/
}
.audioLib {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.audioLib img{
    transition: transform 0.3s;
}

.audioLib img:hover, .audioLib img:active{
    transform: scale(1.1);
}

.madeFor {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.madeFor .card {
    cursor: default;
    display: flex;

    position: relative;
    height: 175px;
    width: 175px;
    background-color: #2a2a2a;
    text-align: center;
    font-weight: 400;
    color: white;
    letter-spacing: 3px;
    line-height: 175px;
    background-size: cover;
    transition: transform 0.3s;
}

.madeFor p {
    margin-top: -6px;
    color: white;
    letter-spacing: 2px;
    font-size: 10pt;
}

.madeFor .card:hover, .madeFor .card:active {
    transform: scale(1.1);
}

.madeFor div div {
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    text-align: center;
    position: absolute;
    transition: background-color 0.3s;
}

.madeFor div:hover, .madeFor div:active {
    background-color: rgba(0,0,0,0);
}

.madeFor a:link, .madeFor a:visited {
    text-decoration: none;
    color: white;
}

#textSec1 {
    margin-inline: auto;
    margin-top: 100px;
    text-align: center;
    width: 800px;
}


.kontaktIns {
    margin-top: 80px;
    text-align: center;
}


#textSec2 {
    /*margin-inline: auto;*/
    margin-top: 100px;
    text-align: center;
    /*width: 800px;*/
}

#textSec2 a:link, #textSec2 a:visited {
    color: #ffc551;
    text-decoration: none;
}

#textSec2 a:hover, #textSec2 a:active {
    color: #ffc551;
    text-decoration: underline;
}

.highlightContainer {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.high {
    width: 23%;
    /*background-color: #ffc551;*/
}

.comission {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.commText {
    width: 45%;
    /*margin-right: 200px;*/
}

.shade {
    height: 260px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,100));
    opacity: 75%;
    z-index: 10;
    position: absolute;
    top: -260px;
}

#poster {
    margin-top: -170px;
    text-align: center;
    position: relative;
    padding: 30px 0 30px 0;
}

#poster img {
    margin: 10px;
}



#poster h1 {
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 800;
}

#poster img, #digital img, #other img {
    transition: transform 0.3s, opacity 1.5s;
}

#poster img:hover, #poster img:active, #digital img:hover, #digital img:active, #other img:hover, #other img:active  {
    cursor: pointer;
    transform: scale(1.05);
}

#feed {
    text-align: center;
    position: relative;
    padding: 80px 0 30px 0;
}

#feed h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
#feed h2 {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    color: #7E7E7E;
}

#feed img {
    width: 100%;
}

.twoGrid {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.twoGrid > div {
    width: 42%;
    /*text-align: right;*/
    position: relative;
}

.twoGrid a {
    /*position: absolute;*/
    /*top: 700px;*/
    /*z-index: 20;*/
    /*left: 188px;*/
    /*margin-inline: auto;*/

}

.buttonContainer {
    width: 100%;
    height: 22%;
    /*background-color: red;*/
    position: absolute;
    bottom: 0;
    z-index: 10;
    /*opacity: 50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.note {
    margin-top: 50px;
    color: #939393;
    font-size: 15px;
}

#website {
    margin-top: -80px;
    text-align: center;
    position: relative;
    padding: 30px 0 90px 0;
}

#website img {
    /*margin: 10px;*/
}



#website h1 {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}
#website h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: 600;
    color: #7E7E7E;
}

#website .shade {
    height: 500px;
    opacity: 100%;
    top: -500px;
}

#website .laptop {
    margin: auto;
    position: relative;
}

iframe {
    border: 0 !important;
}

.website-content {
    width: 100%;
}

#website .note {
    margin-top: -20px;
}

#frameTablet, #framePhone {
    display: none;
}

#digital {
    /*margin-top: -170px;*/
    text-align: center;
    position: relative;
    padding: 30px 0 30px 0;
}

#digital img {
    margin: 10px;

}

#digital h1 {
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 800;
}

/*#website iframe {*/
/*    width: 1200px;*/
/*    height: 1000px;*/
/*    zoom: 0.75;*/
/*    -moz-transform: scale(0.75);*/
/*    -moz-transform-origin: 0 0;*/
/*}*/

#wrap {
    width: 55%;
    height: 119%;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 5%;
    left: 24.4%;
}
#frame { width: 171.3%; height: 109.5%; border: 1px solid black; }
#frame {
    background-color: white;
    -ms-zoom: 0.55;
    -moz-transform: scale(0.55);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.55);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.55);
    -webkit-transform-origin: 0 0;

}

#three {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url("../img/three/00.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shade2 {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,100));
    opacity: 75%;
    z-index: 10;
    position: absolute;
    top: 0px;
}

.threeContent {
    position: absolute;
    bottom: 80px;
    left: 100px;
    z-index: 10;

}

#other .shade {
    display: none;
}

.threeContent h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 800;
}

.threeContent p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.threeContent a:link, .threeContent a:visited {
    /*text-decoration: none;*/
    color: white;
}

#other {
    /*margin-top: -170px;*/
    text-align: center;
    position: relative;
    padding: 30px 0 30px 0;
}

#other img {
    margin: 10px;
}

#other h1 {
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 800;
}

.otherContent {
    display: flex;
    flex-wrap: wrap;
}

.otherContent img {
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
}

#posterContent {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

#posterContent img {
    height: 350px;
    flex-grow: 1;
    object-fit: cover;
}

#artContent {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

#artContent img {
    height: 350px;
    flex-grow: 1;
    object-fit: cover;
}

#exploreMusic .titleScreen {
    position: relative;
    text-align: center;
    background-image: url("../img/indexBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.btn-white {
    background-color: white;
    color: #171717 !important;
    border-radius: 50px;
    margin-right: 0;
    transition: background-color 0.3s, color 0.3s;
    padding: 12px;
    padding-inline: 35px;
    font-weight: 600;
}

.btn-white:link, .btn-white:visited {
    color: darkgray;
    text-decoration: none;
}

.btn-white:hover, .btn-white:active {
    color: white;
}


.btn-white:hover {
    background-color: darkgray;
}

.greyBack {
    /*background-color: #272727;*/
    background-color: #1e1e1e;
    position: relative;
    z-index: 2;
    /*margin-top: 100px;*/
}

.released {
    display: flex;
    justify-content: space-between;
}

.numTxt {
    display: flex;
}

.releasedNum {
    /*margin-top: 0;*/
    font-weight: 800;
    font-size: 80pt;
}

.releasedTxt {
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20pt;
}

.quote {
    margin-top: 100px;
    width: 785px;
    margin-inline: auto;
    text-align: center;
    font-size: 18pt;
    position: relative;
}

.quoteMark {
    position: absolute;
}

.footer {
    /*display: block;*/
    padding-top: 80px;
    padding-bottom: 30px;
}

.footer hr {
    margin-bottom: 20px;
    margin-top: 50px;
    border-color: #7E7E7E;
}

.footerTop {
    /*margin-top: 100px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerBox {
    background-color: #323232;
    padding: 40px;
    width: 400px;
}

.footerBox .note {
    color: #aaaaaa;
}

.footerTop p {
    margin-top: 20px;
    margin-bottom: -5px;
    font-size: 13px;
    line-height: 24px;
    /*padding-bottom: 0;*/
}

.footerTop ul {
    list-style-type: none;
    font-size: 16px;
    margin-top: 0;
}

.footerList {
    /*padding: 0 40px 40px;*/
}

.footerList li {
    margin-top: 20px;
    color: #a8a8a8;
}

.footerList li:first-child {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 21px;
    color: white;
}

.footerList ul {
    padding-left: 10px;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerBottom .note {
    margin-top: 0;
}

.social {
    font-size: 25px;
}

.social img {
    height: 26px;
    width: 26px;
    margin-left: 15px;
}

@media only screen and (max-width: 1264px) {
    body {
        background-color: blue;
    }
    .navContent {
        width: auto;
    }
    .content {
        width: auto;
    }
    /*.madeFor {*/
    /*    justify-content: center;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    .madeFor .card {
        height: 160px;
        width: 160px;
        line-height: 160px;
        /*margin-inline: 15px;*/
    }
    .frame {
        content: url("../img/website/tabletFrame.png");
        width: 80%;
        -webkit-filter: drop-shadow(0 0 20px rgba(184, 184, 184, 0.5));
        filter: drop-shadow(0 0 20px rgba(184, 184, 184, 0.5));
        /*box-shadow: 0 0 40px 20px #787878;*/

        /*margin-bottom: 60px;*/
    }
    #wrap {
        width: 75%;
        height: 145%;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 5.8%;
        left: 14.8%;
    }
    #frame { width: 171.3%; height: 109.5%; border: 1px solid black; }
    #frame {
        background-color: white;
        -ms-zoom: 0.55;
        -moz-transform: scale(0.55);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.55);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.55);
        -webkit-transform-origin: 0 0;

    }
    #frameTablet {
        display: inline;
    }
    #frameLaptop, #framePhone {
        display: none;
    }

    #website .note {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 1150px) {
    .footerBox {
        width: 300px;
    }
}

@media only screen and (max-width: 1135px) {
    body {
        background-color: green;
    }
    .navContent {
        width: auto;
    }
    .content {
        width: auto;
    }
    .composedUsing {
        text-align: center;
    }
    .halImgContainer {
        display: flex;
    }
    .halImg {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        /*width: 100px;*/
        opacity: 0.4;
        translate: 25px;
    }
    .titleScreen {
        text-align: center;
    }
    .audioLib {
        width: 700px;
        margin-inline: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .audioLib img {
        margin-inline: 40px;
        margin-top: 40px;
    }
    .madeFor {
        margin-inline: auto;
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .madeFor .card{
        margin-inline: 8px;
        margin-top: 16px;
    }
    #posterContent img {
        height: 300px;
    }
    .threeContent {
        text-align: center;
        margin-inline: auto;
        padding-inline: 5vw;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 20;
    }
    .threeContent .note {
        color: #b3b3b3;
    }

}

@media only screen and (max-width: 1050px) {
    .footerBox {
        width: 80%;
    }
    .footerList ul {
        padding-top: 40px;
    }
    .footerTop {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 900px) {
    #textSec1 {
        width: auto;
    }
    #poster {
        margin-top: -14vw;
    }
    .kontaktIns {
        margin-top: 10vw;
    }
    .shade {
        top: -30vw;
        height: 30vw;
    }
    #website .shade {
        height: 40vw;
        opacity: 100%;
        top: -40vw;
    }
    .otherContent img {
        max-width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 780px)  {
    p, .note {
        font-size: 12pt;
    }
    .cinematicTitle {
        font-size: 36pt;
    }
    .pName {
        font-size: 18px;
    }
    .audioLib {
        width: auto;
        /*justify-content: space-evenly;*/
    }
    .audioLib img {
        margin-inline: 4vw;
        margin-top: 4vw;
        height: 6vw;
    }
    .madeFor {
        width: auto;
    }
    .igHandle {
        font-size: 2vw;
    }
    #three {
        animation: textShine 60s ease-in-out infinite alternate;
    }
    #other .shade {
        display: block;
    }
    #three .shade2 {
        display: none;
    }
    .otherContent img {
        max-width: calc(100% - 10px);
    }
    #otherContent img {
        height: 170px;
        margin: 5px;
    }
}


@media only screen and (max-width: 700px) {
    .footerBottom {
        flex-direction: column-reverse;
    }
    .footerBottom .note {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .footerBottom .social {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }

    .frame {
        content: url("../img/website/phoneFrame.png");
        width: 80%;
        -webkit-filter: drop-shadow(0 0 20px rgba(184, 184, 184, 0.5));
        filter: drop-shadow(0 0 20px rgba(184, 184, 184, 0.5));
        /*box-shadow: 0 0 40px 20px #787878;*/

        /*margin-bottom: 60px;*/
    }
    #wrap {
        width: 69.4%;
        height: 120%;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 8.5%;
        left: 17.2%;
    }
    #frame { width: 171.3%; height: 109.5%; border: 1px solid black; }
    #frame {
        background-color: white;
        -ms-zoom: 0.55;
        -moz-transform: scale(0.55);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.55);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.55);
        -webkit-transform-origin: 0 0;

    }
    #frameTablet, #frameLaptop {
        display: none;
    }
    #framePhone {
        display: inline;
    }
}

@media only screen and (max-width: 600px)  {
    .content {
        width: 90vw;
        padding-inline: 1vw;
    }
    p, .note {
        font-size: 11pt;
    }
    .cinematicTitle {
        font-size: 32pt;
    }
    .pName {
        font-size: 16px;
    }
    .madeFor {
        margin-top: 10vw;
    }
    .madeFor .card{
        height: 26vw;
        width: 30%;
        margin-inline: 1.5%;
        font-size: 2.5vw;
        line-height: 26vw;
    }
    .br {
        display: none;
    }
    .halImg {
        max-width: 90%;
        height: 914.28px;
        object-fit: cover;
    }


}

@media only screen and (max-width: 570px) {
    #posterContent img {
        height: 50vw;
    }
    #ig2 {
        display: none;
    }
    .twoGrid > div {
        width: 80%;
    }
    .igHandle {
        font-size: 3.6vw;
    }
    #exploreMusic .titleScreen {
        height: 600px;
    }
    #exploreMusic .cinematic {
        padding-top: 75px;
    }
    .footerList {
        width: 45%;
    }
}

@media only screen and (max-width: 470px) {
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 15px !important;
    }
    #posterContent img {
        height: 47vw;
    }
    #poster img {
        margin: 5px;
    }
    .madeFor .card{
        text-wrap: nowrap;
        font-weight: bold;
        font-size: 1.8vw;
    }
    .audioLib img {
        margin-inline: 4vw;
        height: 6vw;
        margin-top: 3.3vw;
    }
    .twoGrid {
        margin-top: 10vw;
    }
    #three {
        height: 600px;
    }
    #three .note {
        display: none;
    }
    .threeContent {
        bottom: 10px;
    }
}

@media only screen and (max-width: 430px) {
    body {
        font-size: 9pt;
    }
    p, .note {
        font-size: 9pt;
        line-height: 15pt;
    }
    .cinematicTitle {
        font-size: 26pt;
    }
    .pName {
        font-size: 13px;
    }
    .threeContent p {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 350px)  {
    #posterContent img {
        height: 100vw;
    }
    .buttonContainer {
        height: 35vw;
    }
    #artContent img {
        height: 100vw;
    }
}




